@keyframes slider {
    0%{

transform: translateX(-5rem)

    }

    10%{

transform: translateX(-20rem)

    }

    20%{

transform: translateX(-30rem)

    }

    30%{

transform: translateX(-40rem)

    }

    40%{

transform: translateX(-50rem)

    }

    50%{

transform: translateX(-60rem)

 
    }

    60%{

transform: translateX(-70rem)

    }

    70% {

        transform: translateX(-80rem)

    }

    80% {

        transform: translateX(-90rem)

    }

    
    90%{

        transform: translateX(-105rem)
        

   }

    100%{

         transform: translateX(-10rem)
         

    }



}