*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

   
    /* Background-colors */

    --header-lightgrey-translucent: rgba(128, 128, 128, 0.326);
    --header-darkergrey-translucent: rgba(128, 128, 128, 0.223);
    --light-green: rgb(173, 255, 47);
    --light-green-hover: rgb(63, 228, 3);

    --light-gray: rgb(213, 210, 210);
    --light-gray-hover: rgb(182, 180, 180);
    

    --translucid-black-background: rgba(43, 39, 50, 0.35);
    --translucid-white-background: rgba(255, 255, 255, 0.35);
    --less-translucid-black-background: rgba(43, 39, 50, 0.5);
    --more-translucid-black-background: rgba(159, 151, 151, 0.3);

    --white: rgba(255, 255, 255, 0.858);

    /* Shadow boxes */

    --shadow-black-box: 0.05rem 0.05rem 0.20rem rgb(105, 99, 99), -0.05rem -0.05rem 0.20rem rgb(105, 100, 100);
    --shadow-blacker-box: 0.08rem 0.08rem 0.20rem rgb(3, 3, 3), -0.08rem -0.08rem 0.20rem rgb(0, 0, 0);
    --shadow-white-box: 0.15rem 0.15rem 0.20rem rgb(239, 232, 232), -0.15rem -0.15rem 0.20rem rgb(239, 232, 232);

       /* variables for responsive design */

       --bg-height: 370px;
       --bg-margin: 5rem 5rem 5rem 10rem;
       --bg-layout-width: 60%;
   
       --bg-img-height: 13rem;
       --bg-img-width: 20rem;
   
   
       --med-height: 570px;
   
       --sm-height: 600px;
       --sm-layout-width: 90%;
   
   
       /* gaps */
   
       --big-gap: 3rem;
       --medium-gap: 2rem;
       --small-gap: 1rem;
       --xsmall-gap: 0.5rem;
   
       /* font size */
   
       --bg-font-size: 1rem;
   
       --sm-font-size: 1.2rem;
   
       --bigger-font-size: 1.5rem;


}



body{

    background-image: url('/images/wallpaper.jpg');
    overflow-x: hidden;
    font-family: Calisto MT;

}

header {

    font-size: 2rem;

}

li {
    list-style-type: none;
}

hr{
    
    height: 0.25rem;
    background-color: white;
    border-radius: 1rem;

    width: 45rem;
    margin: auto auto 2rem auto;

}

a, i{

    text-decoration: none;
    color: black;
}

.h3-title-landing, .h2-subtitle, .services-h3, .top10-h3-title-centered {

    color: white;
    font-size: 2.2rem;

}

.h3-title-landing{
    width: 100%;
    margin: 0.5rem auto 0.5rem auto;

}

.p-services, .p-about-us  {

    color: white;
    font-size: 1.1rem;

}


@media(max-width: 900px) {

    hr {

        width: 100vw;

    }

}
