/* Styles and positioning of the product card */

.div-item-layout-relative{
    display: flex;
    position: relative;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;

    border-radius: 0.25rem;
    box-shadow: 0.1rem 0.1rem 0.4rem rgb(40, 39, 39), -0.1rem -0.1rem 0.4rem rgb(40, 39, 39);
    background-color: var(--light-gray);

    width: 15rem;
    height: 22rem;

    transform: scale(1.05);


}

.div-item-layout-relative img{

    height: 10rem;
    margin-top: -3rem;
    background-size: contain;
}

.div-item-layout-relative h3 {

    width: 12rem;
    margin-top: 1rem;

}

.div-item-layout-relative p {

    color: rgb(55, 50, 50);
    font-weight: 800;
    font-size: 1.1rem;

}

.div-item-layout-relative hr{

    position: absolute;
    bottom: 3.6rem;

    width: 15rem;
    color: black;
    height: 0rem;
    margin: 0rem ;


}


.div-item-layout-relative:hover{

    transform: scale(1.05);

}

button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}


.item-layout-cart-button-absolute{
    display: flex;
    
    /* Este parrafo hacelo con scss include */
    cursor: pointer;
    position: absolute;
    bottom: 0.7rem;
    left: 1.3rem;
    gap: 0.5rem;
    border-radius: 0.25rem;
    border: 1.2px black solid;
    width: 40%;
    padding: 0.5rem;
    
    
    box-shadow: var(--shadow-black-box);
    background-color: var(--light-green);

}

.item-layout-cart-button-absolute:hover{

    background-color: var(--light-green-hover);
    transform: scale(1.05);

}


.item-layout-detail-button-absolute{

    right: 1rem;
    bottom: 0.7rem;
    padding: 0.5rem;
    background-color: var(--light-gray);
    /* Este parrafo hacelo con scss include */

    cursor: pointer;
    position: absolute;
    gap: 0.5rem;
    border-radius: 0.25rem;
    border: 1.2px black solid;
    width: 40%;
    box-shadow: var(--shadow-black-box);
    


}

.item-layout-detail-button-absolute:hover{

    background-color: var(--light-gray-hover);
    
    transform: scale(1.05);

}

.button-counter{

    font-size: 1rem;

}


