/* Styles and positioning of the product detail card */


.div-item-detail-layout-flexrow {

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;

    position: relative;

    gap: var(--small-gap);


    width: var(--bg-layout-width);
    height: var(--bg-height);
    margin: var(--bg-margin);

    position: relative;

    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: var(--shadow-blacker-box);
    z-index: 0;
}

.div-h3-img-container{


    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h3-item-detail-title {

    width: 18rem;
    text-align: center;
    font-size: var(--bigger-font-size);

    margin: 2rem 2rem 0.5rem 2rem;

}

.img-item-detail {

    height: var(--bg-img-height);
    width: --bg-img-width;
    margin: 0rem 0rem 0rem 4rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow-black-box);

    background-size: contain;

}

.div-item-description-flexcol-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    margin: auto;

}

.div-item-description-flexrow-child {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    gap: var(--big-gap);

    margin: auto;

}

.div-item-description-flexrow-child p {

    font-size: var(--sm-font-size);
    margin: 0.2rem 0rem;

}

.div-item-description-flexrow-child span {

    color: red;

}

.div-flex-item p:first-child{

    text-transform: capitalize;

}

.item-layout-cart-button {

    display: flex;
    justify-content: start;

    padding-top: 2rem;
    gap: var(--medium-gap);
    font-size: var(--bg-font-size);


}

.itemdetail-cart-button {

    display: flex;

    gap: var(--xsmall-gap);

    box-shadow: var(--shadow-black-box);
    background-color: var(--light-green);

    border-radius: 0.25rem;
    width: 7rem;
    padding: 0.5rem;

    cursor: pointer;


}

.itemdetail-cart-button:hover {

    background-color: var(--light-green-hover);
    transform: scale(1.05);

}

.div-counter-button-container {


    display: flex;
    gap: var(--xsmall-gap);
    padding-top: 0.5rem;

    z-index: 2;

}

.button-counter {

    border-radius: 0.25rem;
    border: 1px black solid;
    background-color: rgba(163, 148, 148, 0.171);
    padding: 0.15rem 0.2rem;

    box-shadow: var(--shadow-black-box);

    text-transform: capitalize;


}

.button-counter:hover {

    background-color: rgba(163, 148, 148, 0.568);


}

.button-container {

    display: flex;
    justify-content: center;
    align-self: center;

    margin-top: 1rem;

}

.button-counter.green-big {

    background-color: lightgreen;
    transform: scale(1.2);
    font-weight: bolder;

}


@media (max-width: 1080px) {

    .div-item-detail-layout-flexrow {

        flex-direction: column;

        margin: 2rem auto;

        height: var(--med-height);

        justify-content: center;
        align-items: center;

    }

    .item-layout-cart-button {

        margin-left: 2rem;
        font-size: var(--sm-font-size);

    }

    .img-item-detail{

        margin: auto;

    }

}

@media(max-width:700px){

    .div-item-description-flexrow-child{

        gap: var(--xsmall-gap);

    }

}

@media (max-width: 605px) {

    .div-item-detail-layout-flexrow {

        height: var(--sm-height);

    }


    .div-item-description-flexrow-child {

        flex-direction: column;
        gap: var(--small-gap);
    }


    .item-layout-cart-button {

        margin-left: 1rem;
        padding-right: 5rem;


    }

}

@media (max-width: 590px) {

    .img-item-detail {

        width: 280px;
    }

    .div-item-detail-layout-flexrow {

        width: var(--sm-layout-width);

    }
}