/* Styles and positioning of the products layout */

.div-item-layout-relative{
    display: flex;
    position: relative;
    flex-direction: column;

    align-items: center;
    gap: 0.25rem;

    border: orange 1px solid ;
    border-radius: 0.25rem;
    box-shadow: 0.05rem 0.05rem 0.2rem orange, -0.05rem -0.05rem 0.2rem orange;

    width: 15rem;
    height: auto;

}

.div-item-layout-relative hr{

    width: 100%;
    margin: 0.5rem 0rem;


}


.item-layout-cart-button{
    display: flex;
    cursor: pointer;

    background-color: var(--light-green);
    border-radius: 0.25rem;
    box-shadow: var(--shadow-black-box);

    width: 70%;
    justify-content: center;
    gap: 0.5rem;


    padding: 0.5rem;
    margin-bottom: 0.7rem;
}
