main{
    display: flex;
    flex-direction: column;

    gap: 3rem;

    justify-content: center;
    align-items: center;
    text-align: center;

}


.img-cover{
    
    object-fit: cover;
    height: 40rem;
    width: 100%;
    
}

/* Style and positioning for categories section */
.section-categories-container{

}

.div-categories-container-flexwrap-centered{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    background-color: rgb(26, 4, 59);
    
    justify-content: center;
    align-items: center;

}

.hola{
    padding: 3rem;
    gap: 1rem;
}


.img-category{


    height: 15rem;
    max-width: 15rem;
    width: auto;

    margin: 1.5rem 1rem;

}


/* Style and positioning for services section */

.section-our-services{
    display: flex;
    gap: 3rem;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: white;


}

.div-service-container-flexcol{

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 15rem;

}

/* Style and positioning for top selling section */

.section-top-selling-products{

    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    justify-content: center;

    height: 30rem;

    position: relative;
        
    
}


.section-itemlistconteiner-top10{

    
}

.div-itemList-top10-container{

    border: red 1px solid;
    width: 80rem;
    margin: auto;
    overflow: hidden;


}

.div-itemList-top10{


    /* scss mixin */
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    animation: 20s slider infinite;


    width: 200%;

    margin: 0 auto;

    padding: 1rem 5rem;
    background-color: var(--translucid-black-background);
    

}

.div-itemList-top10:hover{
    animation-play-state: paused;

}

.arrow-slider{

    width: 2rem;
    height: 2rem;

    background-color: var(--translucid-black-background);
    padding-top: 0.5rem;

    border-radius: 0.2rem;
    border: none;

    opacity: 0.75;
    color: rgb(26, 24, 24);

    cursor: pointer;

}

.prev-arrow{

    position: absolute;
    right: 40rem;

}

.next-arrow{

    position: absolute;
    right: 40rem;


}



.top10-h3-title-centered{

    margin: 0 0 2rem 0;
    
}


/* Style and positioning for about us section */


.section-about-us{
    display: flex;
    flex-direction: column;

}

.div-about-us h2 {

    margin-bottom: 2rem;
}