main {
    display: flex;
    flex-direction: column;

    gap: 3rem;

    justify-content: center;
    align-items: center;
    text-align: center;

}


.img-cover {

    object-fit: cover;
    height: 40rem;
    width: 100%;

}

/* Style and positioning for categories section */

.section-categories {


    background-color: var(--translucid-black-background);


}

.div-container-categories-flexwrap {

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.img-category {


    height: 15rem;
    max-width: 15rem;
    width: auto;

    margin: 1.5rem 1rem;

}

.img-category:hover {

    transform: scale(1.05);

}


/* Style and positioning for services section */

.section-our-services {
    display: flex;
    gap: 3rem;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 2rem;
    width: 100%;
    

    background-color: var(--translucid-black-background);


}

.div-service-container-flexcol {

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 18rem;

}


.fontawesome-service-icon {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.p-services{

    font-size: 1.4rem;

}

/* Style and positioning for top selling section */

.section-top-selling-products {

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 33rem;
    width: 100%;

    position: relative;
    background-color: var(--translucid-black-background);

}


.section-itemlistconteiner-top10 {

    width: 100vw;

}

.div-itemList-top10-container {

    border: rgb(228, 218, 218) 1px solid;
    border-radius: 0.5rem;
    box-shadow: var(--shadow-white-box);
    width: 90rem;
    margin: auto;
    overflow: hidden;

    padding: 0rem 2rem;


}

.div-itemList-top10 {

    /* scss mixin */
    display: flex;
    justify-content: start;
    gap: 1.3rem;
    animation: 22s linear slider infinite;


    width: 200%;

    margin: 0 auto;

    padding: 1rem 5rem;
    background-color: var(--more-translucid-black-background);


}

.div-itemList-top10:hover {

    animation-play-state: paused;

}

/* Style and positioning for about us section */


.section-about-us {
    display: flex;
    flex-direction: column;

    background-color: var(--translucid-black-background);
    width: 100vw;

}

.section-about-us h2 {

    margin: 1rem 0rem;
}

.p-about-us {

    margin: auto auto 2rem auto;
    width: 80vw;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 600;

}



/* poner media queries para cambiar el width y tambien la velocidad de animacion */
/* hacer smooth scroll para servicios y nosotros */

@media(max-width: 1400px) {

    .div-itemList-top10-container {

        width: 90vw;

    }


}